{% extends './parking_home.html' %}

{% block parking_contents %}
<div>
    <center><h2>Parking Lots</h2></center>
    {% for lot in all_lots %}
       <div id="content">
          <center>
             <p><b>Lot Name:</b><a href="{% url 'parkinglot:lot_detail' lotid=lot.id %}">{{lot.name}}</a></p>
             <p><b>Lot State:</b>{{lot.state}}</p>
             <p><b>Lot Floor:</b>{{lot.floor}}</p>
             <p><b>Slot:</b>{{lot.slot}}</p>
             <button style="background-color:green;color:white;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{% url 'parkinglot:lot_tickets' lotid=lot.id %}">Tickets</a></button>
          </center>
       </div>
   {% endfor %}
</div>
{% endblock %}