{% extends './parking_home.html' %}

{% block parking_contents %}
      <div>
          <div id="lotdetail">
              <h2>Lot Detail</h2>
               <h3>Lot Name:</h3>
               <p>{{parkinglot.name}}</p>
               <h3>Lot State:</h3>
               <p>{{parkinglot.state}}</p>
               <h3>Lot Floor:</h3>
               <p>{{parkinglot.floor}}</p>
               <h3>Slot:</h3>
               <p>{{parkinglot.slot}}</p>
          </div>
          <div id="alltickets">
              <h3>All Tickets</h3>
              {% for ticket in tickets %}
                   <div id="ticket">
                      <center>
                         <p><b>Ticket Owner:</b><a href="{% url 'parkinglot:lot_detail' lotid=lot.id %}">{{ticket.ticketowner.username}}</a></p>
                         <p><b>Vehicle Name:</b>{{ticket.vehicle.name}}</p>
                         <p><b>State :</b>{{ticket.ticketstate}}</p>
                      </center>
                   </div>
              {% endfor %}
          </div>
      </div>
{% endblock %}