{% extends '../base.html' %}

{% block content %}
<div>
  <div class="parking">
       <a href="/parking/lots/">Lots</a>
       <a href="/parking/alltickets/">Tickets</a>
       <a href="/parking/ticketcar/">Car-Ticket-Info</a>
       <a href="/parking/available_lots/">Available-Lots</a>
       <a href="/parking/occupied_lots/">Occupied-Lots</a>
       <a href="/carapp/">Car-App</a>
  </div>
  <div  class="contentpanel">
    {% block parking_contents %}
    {% endblock %}
  </div>
</div>
{% endblock %}

