{% extends '../base.html' %}

{% block content %}
      <div>
          <div id="lotdetail1">
              <h2>User Detail</h2>
              <p><b>User Name:</b>{{user.username}}</p>
              <p><b>User Email:</b>{{user.email}}</p>
              <p><b>User Firstname:</b>{{user.first_name}}</p>
              <p><b>User lastname:</b>{{user.last_name}}</p>
               <h3>Membership</h3>
               {% for g in groups %}
               <div>
                   <p>{{g.name}}</p>
               </div>
               {% endfor %}
          </div>
      </div>
{% endblock %}