{% extends './carapp_home.html' %}

{% block car_contents %}
        <div>
                <div id="lotdetail">
                    <center>
                          <h2>Car Detail</h2>
                          <h3>Car Name:</h3>
                          <p>{{car.carname}}</p>
                          <h3>Car Owner:</h3>
                          <p>{{car.carowner.username}}</p>
                          <h3>Car Number:</h3>
                          <p>{{car.carnumber}}</p>
                          <h3>Car Color:</h3>
                          <p>{{car.carcolor}}</p>
                          <h3>Registered Date:</h3>
                          <p>{{car.registereddate}}</p>
                        </center>
                </div>
        </div>
{% endblock %}