{% extends './carapp_home.html' %}

{% block car_contents %}
       <center>
           <div>
                <div id="cardetail">
                    <center>
                          <h3>Car Detail</h3>
                          <p><b>Car Name:</b>{{car.carname}}</p>
                          <p><b>Car Owner:</b>{{car.carowner.username}}</p>
                          <p><b>Car Number:</b>{{car.carnumber}}</p>
                          <p><b>Car Color:</b>{{car.carcolor}}</p>
                          <p><b>Registered Date:</b>{{car.registereddate}}</p>
                    </center>
                </div>
        </div>
       </center>
{% endblock %}